@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import './navbar.scss';
@import './jumbotron.scss';
@import './forum.scss';
@import './thread.scss';

@font-face {
  font-family: Gerstner;
  src: url('../fonts/gerstner.ttf');
}

$blue-normal: #3776B0;
$blue-light: #EEF4F9;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -msbox-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 9px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #a4b1b0;
}

.App{
  display: flex;
  min-height: 87.1vh;
  flex-direction: column;

  .content { 
    flex: 1; 
  }

  .foram-area{
    position: relative;
    top: -80px;
  }
  
  .footer {   
    margin-top: 5px;
    flex-shrink: 0; 
    height: 48.5px;

    .footer-bar{
      height: 10px;
      background-color: $blue-normal;
    }

    .footer-top{
      margin: 0;
      padding: 0;
      color:$blue-normal ;
      background: linear-gradient(to top, $blue-normal, $blue-light); 
      text-shadow:  0px 2px 5px rgba(0,0,0,0.1),
      0px 3px 5px rgba(0,0,0,0.1),
      0px 3px 5px rgba(0,0,0,0.1);
    }
    .footer-bottom{
      text-align: center;
      color:#EEF4F9 ;
      background-color: $blue-normal;
    }
  }
  
 
}

.my-threads li{
  list-style: none;
}

.my-threads li:hover{
  color: rgb(150, 150, 150);
  cursor: pointer;
}
.my-threads li:nth-of-type(2) {
  background-color: rgb(255, 157, 189)t;
}

.found_user:hover{
  background-color: #ffeec8;
}

.subject-name{
  color:rgb(208, 255, 0);
}
.subject-name:hover{
  cursor: pointer;
  color: rgb(250, 250, 250);
}

/* On screens that are 600px or less */
@media screen and (max-width: 992px) {
  .App {
    overflow-x: hidden;
  }
}